h1{
    color: aqua;
}
h2{
    color: #11ff33;
}
h3{
    color: #f25;
}
h4{
    color: #00bb22ff;
}
h5{
    color: #f0cf;
}
h6{
color: rgb(255, 45, 21);
}
p{
    color: rgba(110, 60, 81, .5);
}
h1{
    background-color: red;
}
h2{
    background-color: orange;
}
h3{
    background-color: yellow;
}
h4{
    background-color: green;
}
h5{
    background-color: blue;
}
H6{
    background-color: indigo;
}
p{
    background-color: violet;
}
#One{
    color: hotpink;
}
#Three{
    background-color: peachpuff;
}
.Lol{
    border: 5px solid green;
}